*{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* 
for inactive users also take reason for inactivation
inactive api hit                                            /
loading bar in center                                       /
need good loading bar                                       /
admin dashboard working                                     /
doctor can sign up by himself
doctor will get no access after inactivity
patient will get no access after inactivity  
*/